<footer class="footer-container">
    <div class="footer-column">
      <h3>About Me</h3>
      <p>We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.</p>

      <p class="footer-text">
        Copyright ©<script>document.write(new Date().getFullYear());</script>2024 All rights reserved
        </p>
    </div>
    <div class="footer-column">
      <h3>Contact Me</h3>
      <form>
        <input type="email" placeholder="Email" name="email" required>
        <textarea placeholder="Message" name="message" rows="4" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="footer-column">
      <h3>Follow Me</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com"><i class="fab fa-github"></i></a>
      </div>
    </div>
    
  </footer>
  