<section class="hero-container">
    <div class="hero-content">
      <div class="hero-text">
        <h6>THIS IS ME</h6>
        <h1>KESHAN SANKALPA</h1>
        <h6>Full Stack Developer| UX/UI Enthusiast</h6>
        <p>You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.</p>
        <button mat-flat-button color="primary">Discover More</button>
    </div>
      <div class="hero-image">
        <div class="hero-image">
            <img src="https://via.placeholder.com/400x200" alt="John Doe Photo" height="400" width="1000">
          </div>
      </div>
    </div>
  </section>
  